<ion-content [fullscreen]="true">
  <div class="main-container">

    <div class="history-container">
      <ion-icon name="calendar-number"></ion-icon>
      <div class="history-text">
        CLASS HISTORY
      </div>
    </div>

    <div class="date-range">
      <ion-datetime-button datetime="startDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="startDate" 
            presentation="date"
            [(ngModel)]="startDateValue"
            [isDateEnabled]="isWeekday"> <!--method to block day of the week -->
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-datetime-button datetime="endDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="endDate" 
            presentation="date"
            [(ngModel)]="endDateValue"
            [isDateEnabled]="isWeekday"> <!--method to block day of the week -->
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button  class="ok-button" (click)="calculateHistory()">OK</ion-button>
    </div>

    <div class="calendar-box">
      <ion-datetime 
        presentation="date"
        [highlightedDates]="highlightedDates"
         [isDateEnabled]="isWeekday"> <!--method to block day of the week -->
      </ion-datetime>
    </div>   
    
    <div class="stats-box" *ngIf="totalClasses !== null">
      <div class="stats-label">TOTAL OF CLASSES BOOKED:</div>
      <div class="stats-number">{{ totalClasses }}</div>
    </div>

    <div class="history-buttons">
      <ion-button expand="block" (click)="goToUserMembership()">User Home</ion-button>
    </div>

  </div>
</ion-content>
