<ion-content [fullscreen]="true">
  <div class="main-container">
    <div style="display: flex; justify-content: flex-end; width: 100%; margin-bottom: 10px;">
      <ion-button color="danger" (click)="logout()">LOGOUT</ion-button>
    </div>

    <div class="history-container">
      <ion-icon name="calendar-number"></ion-icon>
      <div class="history-text">
        CLASS HISTORY
      </div>
    </div>

    <div class="date-range">
      <ion-datetime-button datetime="startDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="startDate" presentation="date" [(ngModel)]="startDateValue" [isDateEnabled]="isWeekday"
            (ngModelChange)="onDateChange()"> <!--method to block day of the week -->
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-datetime-button datetime="endDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="endDate" presentation="date" [(ngModel)]="endDateValue" [isDateEnabled]="isWeekday"
            (ngModelChange)="onDateChange()"> <!--method to block day of the week -->
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <div>
      </div>
      <ion-button class="ok-button" (click)="calculateHistory()" [disabled]="!!errorMessage">OK</ion-button>
    </div>

    <!-- Exibe o calendário apenas após clicar em OK e datas selecionadas -->
    <div class="calendar-box" *ngIf="showCalendar">
      <ion-datetime presentation="date" [highlightedDates]="highlightedDates" [isDateEnabled]="isWeekday">
        <!--method to block day of the week -->
      </ion-datetime>
    </div>

    <div class="stats-box" *ngIf="totalClasses !== null">
      <div class="stats-label">TOTAL OF CLASSES BOOKED:</div>
      <div class="stats-number">{{ totalClasses }}</div>
    </div>

    <div *ngIf="errorMessage" class="error-message"
      style="color: #ff3333; text-align: center; margin: 16px 0; font-weight: bold;">
      {{ errorMessage }}
    </div>

    <div class="history-buttons">
      <ion-button expand="block" (click)="goToUserMembership()">User Home</ion-button>
    </div>

  </div>
</ion-content>