<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="user-membership" href="/user-membership">
      <ion-icon name="body"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book" href="/book">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wod" href="/wod">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>WOD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cancel" href="/cancel">
      <ion-icon name="close" color="danger"></ion-icon>
      <ion-label>Cancel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="frequency" href="/frequency">
      <ion-icon name="calendar-number"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>





