ion-tab-bar {
    --background: black;
    --color: white;
    --color-selected: white;
    --color-activated: white;
    --color-focused: white;
    --color-hover: white;
    --color-activated: white; 
    --font-size: 18px;
    --font-weight: bold;    
  }