<ion-content [fullscreen]="true">

  <div id="container">    
    <!--Email and Password-->
    <ion-item lines="none" style="--background: transparent;">
      <ion-input id="email-input"       
        label="Email"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter your email"
        [(ngModel)]="email">        
      </ion-input>
    </ion-item><br>
        
    <ion-item lines="none" style="--background: black transparent;">
      <ion-input id="password-input" 
        label="Password"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter your password"
        [(ngModel)]="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
        
    <!--BUTTON-->    
    <ion-button fill="outline" (click)="onLogin()" >LOGIN</ion-button>
  </div>

  <p class="signup-text">
    Don't have account? <a (click)="goToRegister()">Sign Up</a>
  </p>
  
 
</ion-content>

