<ion-content [fullscreen]="true">
  <div class="login-wrapper">
  
    <!-- LEFT COLUMN: LOGIN FORM -->
    <div class="login-left">
    
      <!-- Logo placeholder -->
      <div class="logo-box"></div>

      <!-- Page title -->
      <h2 class="page-title">Log in to continue</h2>

      <!-- EMAIL FIELD -->
      <ion-item>
        <ion-input 
          id="email-input" label="Email" labelPlacement="floating" type="email" [(ngModel)]="email"required>
        </ion-input>
      </ion-item>

      <!-- PASSWORD FIELD -->
      <ion-item>
        <ion-input 
          id="password-input" label="Password" labelPlacement="floating" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

     

      <!-- Login button triggers onLogin() -->
      <ion-button expand="block" fill="outline" (click)="onLogin()">Login</ion-button>

      <!-- Display error message if authentication fails -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Forgot password link -->
    <div class="forgot-text">
      Forgot your password? <a (click)="goToForgot()">Click here</a>
    </div>

      <!-- Navigation link to registration page -->
      <p class="signup-text">
        New here? <a (click)="goToRegister()">Sign up today!</a>
      </p>
    </div>

    <!-- RIGHT COLUMN: BACKGROUND IMAGE AND SLOGAN -->
    <div class="login-right">
      <div class="hero-text">YOUR TIME. YOUR WOD</div>
    </div>

  </div> <!-- End of .login-wrapper -->
</ion-content>
